*{
    margin :0;
    padding :0;
    box-sizing: border-box;
  }
  body{
    font-weight: 300;
    line-height: 1.4;
    scroll-behavior: smooth;
  }
  section{
    scroll-margin: 50px;
  }
  button{
    border: none;
    padding: 10px 15px;
    transition:0.2s ease-in-out;
  }
  button:hover{
    transition:0.2s ease-in-out;
    opacity:0.8;
  }
  .primary-btn{
     color: black;
    background-color: limegreen;
  }
  .secondary-btn{
    color: black;
    background-color: limegreen;
  }
  .tertiary-btn{
    color: black;
    background-color: limegreen;
    border: none;
    align-self: center;
  }
  ul{
    list-style: none;
  }
  a{
    text-decoration: none;
    color: white;
  }
  .container{
    max-width: 1200px;
    margin: 0 auto;
    
  }
  header{
    background-color: darkred;
    position: sticky;
    top: 0;
    z-index: 100px;
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.5);
  } 
  nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: white;
    padding: 20px;
  }
  .logo{
    font-size: 32px;
    font-weight: 800;
  }
  nav ul{
    display:flex;
    gap: 20px;
    font-size: 18px;
  }
  nav ul li:hover{
    border-bottom: 2px solid transparent;
    transition:0.2s ease-in;
  }
  nav ul li:hover{
    border-bottom: 2px solid black#42445A;
    transition: 0.2s ease-in;
  }
  .hero_section{
    background-image: url(kusum.jpg);
    background-size: cover;
    height:100vh;
    width: 100vw;
    display: grid;
    color: white;
    place-items: center;
    text-align: center;
  }
  h1{
    font-size: 90px;
  }
  p{
    font-style: italic;
    font-size: 20px;
    text-align: center;
  }
  h3{
    font-size: 32px;
    text-align: center;
  }
  h4{
    text-align: center;
  }
  .hero_section .container{
    display: flex;
    flex-direction: column;
    gap: 30px;
  }
  .music_section{
    padding-top: 50px;
    background-color: darkred;
  }
  .music_section .container{
    display: flex;
    flex-direction: column;
    gap: 30px;
    justify-content: center;
    align-items: center;
    color: white;
  }
  .ipad-iphone-img{
    margin-top: -400px;
    position: relative;
    top: 400px;
  }
  span{
    font-size: 30px;
    margin-left: 57px;
  }
  .about-music{
    padding-top: 500px;
    display: grid;
    place-items: center;
    gap: 50px;
    text-align: center;
    margin-bottom:50px ;
  }
  .video-section{
    background-image: url(kusum-last.jpg) ;
    min-height: 800px;
    display:grid;
    place-items: center;
    color: white;
    text-align: center;
  }
  .video-section .container{
    display: flex;
    flex-direction: column;
    gap: 30px;
    margin-top: -200px;
  }
  .hero_section, .video-section{
    position: relative;
    background-position: center;
    background-size: cover;
    background-repeat: no repeat;
  }
  .gift-section{
    display: flex;
    justify-content: center;
    margin: 100px 0;
    gap: 50px;
  }
  .gift-content{
    
  }
 .container-gift{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: space-between;
    gap: 20px;
  }
  .gift-kusum{
    text-align: left;
  }
  .footer-upper{
    background-color: darkred;
    padding: 20px;
  }
  .footer-upper .container {
    display: flex;
    color: white;
    justify-content: space-between;
  }
  .footer-lower{
    background-color: black;
    color: white;
    padding:20px;
    display: flex;
    justify-content: center;
  }
  .gift-section{
    scroll-margin: 100px;
  }
  h5{
    font-size: 20px;
  padding-bottom: 10px;
  border-bottom: 2px solid white;
  margin-bottom: 10px;
  }
  .btn{
    font-weight: bold;
    border-radius: 10%;
    box-shadow:2px 2px 2px 2px black;
  }
  